body{
  background: #432c7e;
}
.score-container {
    text-align: center;
    padding: 30px;
  }
  
  .score-container h1 {
    font-size: 28px;
    color: #4CAF50;
  }
  
  .score-container h2 {
    font-size: 24px;
    color: #333;
  }
  
  .score-container button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background: #553f9a;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .score-container button:hover {
    background: #432c7e;
  }
  